<h1>History</h1>
<% @parking_spot.reservations.each do |r| %>
    <p>Username: <%= r.user_name %></p>
    <p>Time Booked: <%= r.time_booked %></p>
    <p>Status: <%= r.reservation_is_valid? ? "Valid" : "Invalid" %></p>
    <br>
<% end %>
