<h1>This is spots#index</h1>
<%# Login/Signup Buttons %>

<% @parking_spots.each do |parking_spot| %>
  <%= alert %>
  <%= link_to parking_spot do %>
    <div class='parking-spot'>
      <p><%= parking_spot.number %></p>
      <p><%= parking_spot.reservations.last.reservation_is_valid? ? "free" : "taken"%></p>
    </div>
  <% end %>
<% end %>
