<h1>This is parking#show number <%= @parking_spot.number %></h1>

<%= form_with model: [@parking_spot, @parking_spot.reservations.build] do |f| %>
    <%= f.hidden_field :user_name, value: "test" %>
  <%= f.submit %>
<% end %>
